includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - app
    tmpDir: build/phpstan
    excludePaths:
        - app/Filament/*
        - app/Providers/Filament/*
